.block {
  margin: 0;
  padding: 0 7px 5px;
  height: fit-content;
  color: var(--text-color-2);
  font-size: 16px;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--text-color-2);
  border-radius: 3px;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.text {
  display: inline-block;
  margin: 0;
}

.favorites {
  font-size: 20px;
  display: inline-block;
  color: var(--accent-color);
}
