.contactList {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: max-content;
  grid-gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.contactList__item {
  align-content: center;
}
