.mainContainer {
  position: relative;
  width: 100%;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  gap: 50px;
  overflow: hidden;
  min-width: 0;
}

@media only screen and (max-width: 620px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}
